<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="Port" value="5555"/>
    <add key="IP" value="127.0.0.1"/>
    <add key ="Height" value="7"/>
    <add key ="Width" value="7"/>
  </appSettings>
</configuration>